/*===== Trent Lutmer - Designer ===== */
/*===== Version 8.1.4 ===== */
/*===== 2018 Copyright of Trent Lutmer. All rights reserved. ===== */
/*===== Last updated: 23 Sep 2018 ===== */

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(8, 15, 31, 1);
    }

    /*===== Header, Sections, Footer ===== */

    footer {
        text-align: center;
        margin: 4rem 0 0 0;
    }

    footer ul {
        margin: 0 0 2rem 0;
    }

    /*===== Paragraph and Typography ===== */
    h1 {
        font-family: 'Eczar', Times, serif;
        line-height: 3.14rem;
        padding: 1rem 0;
        margin: 0;
    }

    h3 {
        font-family: 'Eczar', Times, serif;
        margin: 1.25rem 0 0 0;
    }

    p {
        line-height: 1.5;
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }

    li {
        list-style: none;
    }

    a {
        color: rgba(8, 15, 31, 1);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-decoration: none;
    }

    a:hover {
       color: rgba(8, 15, 31, .5);
    }

    /*===== Grid ===== */

    .contain, .grid-2 {
        max-width: 800px;
        margin: 1rem;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem 4rem;
        max-width: 420px;
        margin: 2rem auto;
        text-align: center;
    }

    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem 4rem;
        margin: 2rem;
    }

    .image {
        background-size: cover;
        height: 12rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 2rem auto;
    }

    .pop {
        max-width: 55%;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
    }

    .thumb {
        height: 12rem;
    }
    
    .image-2 {
        background-size: cover;
        height: 19rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 3rem auto;
    }    

    .next {
        height: 8rem;
    }

    nav {
        background-color: #96BFDC;
    }

    .nav {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        background-color: #96BFDC;
    }

    .masthead {
        text-align: center;
        background-color: #96BFDC;
        padding-bottom: 2rem;
    }

    .masthead-2 {
        text-align: center;
        background-color: #F70D0E;
    }

    .masthead-3 {
        text-align: center;
        background-color: #857A8D;
    }

    .masthead-4 {
        text-align: center;
        background-color: #5B9200;
    }

    .masthead-5 {
        text-align: center;
        background-color: #DFE0E1;
    }

    .masthead-6 {
        text-align: center;
        background-color: #9A3EE5;
    }

    .page-title {
        margin: 3rem 0 2rem 0;
    }

    .page-title h2 {
        margin: 0;
        padding: 0;
        font-weight: 400;
    }

    .resume li {
        margin: 0 0 2rem 0;
    }

    .resume .role {
        margin: 0.25rem 0;
    }

    .label {
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        font-weight: 700;
    }

    .bottomnav {
        display: inline;
        padding: 0 2rem 0 0;
    }

    .social li {
        font-size: .75rem;
        display: inline;
        padding: 0 2rem 0 0;
    }

    .up-space{
        padding-top: 0rem;
    }

    .embed-container iframe {  
        height: 230px;
        width: 340px;
    }


/*===== Large Screens Responsive ===== */

@media (min-width: 800px) {
    body {
        margin: 0;
    }

    footer {
        text-align: left;
    }
    
    .nav {
        text-align: left;
    }

    .contain {
        margin: 0 auto;
    }

    .masthead {
    }

    .masthead-2 {
    }

    .bottomnav {
        display: block;
        padding: 0 2rem 0 0;
    }

    .pop {
    }

    .image:hover {
        transform: scale(1.3);
    }

    .image {
        background-size: cover;
        height: 25rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 

    .image-2 {
        background-size: cover;
        height: 42rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 

    .image-3 {
        background-size: cover;
        height: 50rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 
        
    .showcaseimage {
        background-size: cover;
        height: 25rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 3rem auto;
    }      

    .page-title {
        margin: 2rem 0 2rem 0;
    } 

    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        padding: 2rem 0;
        text-align: left;
        max-width: 800px;
    }

    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem 4rem;
        max-width: 800px;
        margin: 2rem auto;
    }

    .embed-container {
        text-align: center;
        padding: 3rem;
        position: relative; 
    }
    
    .embed-container iframe {  
        height: 400px;
        width: 600px;
    }
}