/*===== Trent Lutmer - Designer ===== */
/*===== Version 10.2.0 ===== */
/*===== 2021 Copyright of Trent Lutmer. All rights reserved. ===== */
/*===== Last updated: 31 Dec 2020 ===== */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0 auto;
        font-family: 'Work Sans', Helvetica, Arial, sans-serif;
        background-color: rgb(250, 246, 246, 1);
        color: rgba(40, 39, 41, 1);
    }

    /*===== Paragraph and Typography ===== */
   
    h1, p {
        margin: 0;
    }

    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.6rem;
        padding-bottom: 2.4rem;
        padding-top: 4.8rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        hyphens: initial;
        letter-spacing: -0.025em;
        padding: 1.2rem 0;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        hyphens: initial;
        letter-spacing: -0.025em;
        padding: .8rem 0;
    }

    p {
        max-width: 600px;
        line-height: 1.5;
        padding-bottom: 1rem;
    }

    ul {
        max-width: 600px;
        display: inline;
        line-height: 1.5;
    }

    li {
        display: inline;
        padding: 0 0 1rem 0;
        margin: 0 1rem;
    }

    .bulletlist{
        display: list-item;
    }

    a {
        color: rgba(8, 15, 31, 1);
        text-decoration: none;
    }

    a:hover {
       color: rgba(82, 143, 252, 1);
       transition: 0.4s;
    }

    .project {
        padding-bottom: 2rem;
    }

    .nav li{
        padding-left: .5rem;
    }

    .hero {
        text-align: left;
    }

    footer {
        padding: 3rem 0;
    }

    /*===== Grid ===== */
  
    .grid-full, .grid-half {
        margin: 1rem;
    }
    
    .grid-full {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem 4rem;
    }

    .grid-half {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 0 2rem;
    }

    .image-border, .image-zoom, .image-none {
        background-size: cover;
        max-width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1.6rem;
    }

    .image-gif {
        max-width: 420px;
        max-height: 320px;
    }

    nav {
        padding: 2rem 0;        
    }

    .nav {
        float: right;
    }

/*===== Large Screens Responsive ===== */

@media (min-width: 960px) {

    .grid-full, .grid-half {
        max-width: 960px;
        margin: 0rem auto;
    }
    
    .grid-full {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem 4rem;
    }

    .grid-half {
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 0;
        text-align: left;
    }
    
    .grid-header {
        max-width: 600px;
    }

    .grid-content {
        max-width: 600px;
        margin: 0 auto;
    }

    footer {
        text-align: left;
        padding: 3rem 0;
    }

    header {        
        padding-bottom: 1.6rem;
        text-align: center;
    }
    
    h1 {
        font-size: 2.75rem;
        font-weight: 400;
        hyphens: initial;
        line-height: 1.1;
        margin-bottom: 1.6rem;
        padding-bottom: 2.4rem;
        padding-top: 4.8rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        hyphens: initial;
        letter-spacing: -0.025em;
        padding: 1.2rem 0;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        hyphens: initial;
        letter-spacing: -0.025em;
        padding: .8rem 0;
    }

    ul {
        display: inline;
        padding: 0;
    }
    
    .image-border:hover {
        box-shadow: .5rem .5rem black;
        transition: 0.4s;
    }

    .image-zoom {
        transition: transform .4s;
    }
    
    .image-zoom:hover {
        transform: scale(1.31);
    }

    .image-gif {
        min-width: 960px;
        min-height: 720px;
    }

    .bulletlist{
        display: list-item;
    }

    nav {
        padding: 4rem 0 0 0;      
    }

    .nav {
        text-align: left;        
    }

    .project {
        padding-bottom: 4rem;
    }
}