/*===== Trent Lutmer - Designer ===== */
/*===== Version 8.1.0 ===== */
/*===== 2018 Copyright of Trent Lutmer. All rights reserved. ===== */
/*===== Last updated: 8 Aug 2018 ===== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(8, 15, 31, 1);
}

/*===== Header, Sections, Footer ===== */

footer {
    text-align: center;
    margin: 4rem 0 0 0;
}

footer ul {
    margin: 0 0 2rem 0;
}

/*===== Paragraph and Typography ===== */
h1 {
    font-family: 'Eczar', Times, serif;
    line-height: 3.14rem;
    padding: 1rem 0;
    margin: 0;
}

h3 {
    font-family: 'Eczar', Times, serif;
    margin: 1.25rem 0 0 0;
}

hr {
    border-width: 1px;
    border-color: #E4E4E4;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    color: rgba(8, 15, 31, 1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
   color: rgba(8, 15, 31, .5);
}

/*===== rgb(31, 62, 142) ===== */

.contain, .grid-2 {
    max-width: 800px;
    margin: 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem 4rem;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem 4rem;
    max-width: 800px;
    margin: 2rem;
}

.border {
    width: 100%;
    border-top: .5rem solid #868f96;
    border-bottom: .5rem solid #080F1F;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: .5rem 100%;
    -moz-background-size: .5rem 100%;
    background-size: .5rem 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #868f96 0%, #080F1F 100%), -webkit-linear-gradient(top, #868f96 0%, #080F1F 100%);
    background-image: -moz-linear-gradient(top, #868f96 0%, #080F1F 100%), -moz-linear-gradient(top, #868f96 0%, #080F1F 100%);
    background-image: -o-linear-gradient(top, #868f96 0%, #080F1F 100%), -o-linear-gradient(top, #868f96 0%, #080F1F 100%);
    background-image: linear-gradient(to bottom, #868f96 0%, #080F1F 100%), linear-gradient(to bottom, #868f96 0%, #080F1F 100%);
}

.image {
    background-size: cover;
    height: 12rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2rem auto;
}

.image-2 {
    background-size: cover;
    height: 19rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3rem auto;
}    

.page-title {
    margin: 3rem 0 2rem 0;
}

.page-title h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.resume li {
    margin: 0 0 2rem 0;
}

.resume .role {
    margin: 0.25rem 0;
}

.label {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-weight: 700;
}

.bottomnav {
    display: inline;
    padding: 0 2rem 0 0;
}

.social li {
    font-size: .75rem;
    display: inline;
    padding: 0 2rem 0 0;
}

.up-space{
    padding-top: 0rem;
}

.embed-container iframe {  
    height: 230px;
    width: 340px;
}

/*===== Responsive ===== */

@media (min-width: 800px) {
    body {
        margin: 0;
    }

    footer {
        text-align: left;
    }

    .bottomnav {
        display: block;
        padding: 0 2rem 0 0;
    }

    .image:hover {
        transform: scale(1.3);
    }

    .image {
        background-size: cover;
        height: 25rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 

    .image-2 {
        background-size: cover;
        height: 42rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 

    .image-3 {
        background-size: cover;
        height: 50rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s;
    } 
        
    .showcaseimage {
        background-size: cover;
        height: 25rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 3rem auto;
    }      

    .page-title {
        margin: 5rem 0 2rem 0;
    } 

    .contain {
        max-width: 720px;
        margin: 0 auto;
    }

    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem 4rem;
        max-width: 720px;
        margin: 2rem auto;
    }

    .embed-container {
        text-align: center;
        padding: 3rem;
        position: relative; 
    }
    
    .embed-container iframe {  
        height: 400px;
        width: 600px;
    }

    .border {
        width: 100%;
        border-top: 1.5rem solid #868f96;
        border-bottom: 1.5rem solid #080F1F;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 1.5rem 100%;
        -moz-background-size: 1.5rem 100%;
        background-size: 1.5rem 100%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top, #868f96 0%, #080F1F 100%), -webkit-linear-gradient(top, #868f96 0%, #080F1F 100%);
        background-image: -moz-linear-gradient(top, #868f96 0%, #080F1F 100%), -moz-linear-gradient(top, #868f96 0%, #080F1F 100%);
        background-image: -o-linear-gradient(top, #868f96 0%, #080F1F 100%), -o-linear-gradient(top, #868f96 0%, #080F1F 100%);
        background-image: linear-gradient(to bottom, #868f96 0%, #080F1F 100%), linear-gradient(to bottom, #868f96 0%, #080F1F 100%);
        padding: 2rem 4rem;
    }
}