/*===== Trent Lutmer - Designer ===== */
/*===== Version 9.0.0 ===== */
/*===== 2020 Copyright of Trent Lutmer. All rights reserved. ===== */

* {
	box-sizing: border-box;
}

html, body, footer {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(239, 239, 239, 100); 
	color: rgba(43, 40, 44, 100); 
	font-size: 1.5em;
	line-height: 145%;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	margin: 1.5em;
	font-weight: bold;
}

.header-primary, .main-footer {
	width:100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.header-primary {
	margin: 0;
	padding: 1.5em;
}

.main-footer{
	margin: 3em 0 0;
	padding: 1.5em;
}

.header-nav-list,.footer-nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-nav-list li,.footer-nav-list li {
	margin: 0;
	display: inline-block;
}

.header-nav-list li:first-child, .footer-nav-list li:first-child {
	margin:0;
}

a.nav-link, a.footer-link, a.logo-website, a.footer-resume {
	display:inline-block;
	padding: 1em;
	color: rgba(43, 40, 44, 100); 
	text-decoration:none;
	box-sizing:border-box;
	border-bottom: 0.25em solid transparent;
}

a.nav-link:hover, a.nav-link.active, a.footer-link:hover, a.footer-link.active, a.logo-website:hover, a.logo-website.active, a.footer-resume:hover, a.footer-resume.active {
	color: rgba(43, 40, 44, 100); 
	border-bottom: 0.25em solid rgba(43, 40, 44, 100);
}

.page-wrap,.page-intro {
	width: 1024px;
	padding: 0 8em;
	max-width: 80%;
	margin: 0 auto 180px;
}

.narrow-page {
	width:640px;
	max-width: 80%;
	margin: 0 auto;
}

.narrow-page h1 {
	line-height: 140%;
    margin: 1em;
}

.portfolio-grid-wrap {
	margin: 0 auto;
	width: 1220px;
	max-width: 100%;
	text-align: center;
}

.portfolio-grid-items-list {
	padding: 0;
	margin: 0 0 -3em;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio-grid-items-list li {
	display: inline-block;
	margin: 0 0 1em;
	width: 600px;
	max-width: 100%;
}

.portfolio-item img {
	display: block;
	margin: 0;
	max-width: 100%;
}

.narrow-wrap {
	margin: 0 auto;
	width: 850px;
	max-width: 100%;
}

.narrow-wrap .page-intro {
	margin: 0 0 5em;
}

p {
	margin: 1.5em;
	font-weight: normal;
}

p a {
	text-decoration: underline;
	color: inherit;
}

p a:hover{
	color: rgba(239, 239, 239, 100);
}

ol a, ul a{
	color: inherit;
	text-decoration: none;
}

ol a:hover, ul a:hover{
	color: rgba(0, 0 ,0 , 100);
	border-bottom: .25em solid rgba(0, 0 ,0 , 100);
}

.project-page-header h1 {
	margin: 0 1em;
	line-height: 125%;
}

.project-page-header .project-role {
	margin: 1.5em;
}

.project-page-header, .project-page-content {
	width: 1180px;
	margin: 0 auto 100px;
	max-width: 100%;
	box-sizing: border-box;
}

.project-hero {
	display: block;
	margin: 0 auto 100px;
	width: 1220px;
	max-width: 100%
}

.project-images {
	max-width: 100%;
	width: 1260px;
	margin: 0 auto;
}

.project-images img {
	display: block;
	margin: 2em auto;
	max-width: 100%
}

.source {
	border-bottom: .25em solid rgba(0, 0 ,0 , 100);
}

.source a:hover {
	border-bottom: .25em solid rgba(0, 0 ,0 , .5);
}

@media (max-width: 1250px) {
	.portfolio-grid-wrap {
		width: 950px;
	}
	.portfolio-grid-items-list li {
		width:465px;
	}
}

@media (max-width: 950px) {
	.portfolio-grid-wrap {
		width: 740px;
	}
	
	.portfolio-grid-items-list li {
		width: 360px;
	}

	.page-wrap, .page-intro {
		padding: 0 8em;
		max-width: 100%;
		box-sizing: border-box;
		margin-bottom: 13em;
	}

	.intro-text {
		font-size: 4.2em;
	}

	.header-primary,.main-footer {
		padding: 30px;
	}

	.header-primary {
		margin:0 0 4em;
	}
	.main-footer {
		margin: 10em 0 0;
	}

	a.nav-link,a.footer-link,a.logo-website,a.footer-resume {
		padding: .25em;
		border-bottom: 0.25em solid transparent;
	}

	.header-nav-list li,.footer-nav-list li{
		margin:0 0 0 4emx;
	}
}

@media (max-width: 740px) {
	.portfolio-grid-wrap {
		width: 100%;
		box-sizing: border-box;
		padding: 3em;
		margin: 2em 0;
	}

	.portfolio-grid-items-list li {
		width: 100%;
	}
	
	body {
		font-size: 1em;
	}

	h1, h2, h3 {
		font-size: 1.25em;
	}

	.intro-text {
		font-size: 3.6em;
	}
	
	.page-wrap,.page-intro {
		padding: 0 4em;
	}

	
	.header-nav-list li, .footer-nav-list li {
		margin: 0 0 0 3em;
	}
	.main-footer {
		justify-content: flex-start;
		padding: 3em;
		flex-wrap: wrap;
	}
	
	.footer-nav-list {
		margin: 0;
	}
	
	.footer-nav-list li {
		margin: 0;
	}
	
	a.footer-resume,a.footer-link {
		margin: 1em;
	}

	.blog-post-content ol, .blog-post-content ul {
		box-sizing: border-box;
		padding: 0 5em 0 3em;
	}
}

@media (max-width: 580px) {	
	.blog-list {
		box-sizing: border-box;
		padding: 0 4em;
	}
	
	.blog-list .page-header {
		margin: 0 0 7em;
	}

	.blog-list .page-header h1 {
		line-height: 150%
	}

	.project-page-header, .project-page-content {
		margin: 0 auto 5em;
		padding: 0 2em;
	}

	.project-hero {
		margin: 0 auto 5em;
		max-width: 90%;
	}

	footer{
		font-size: .75em;
	}
}

@media (max-width: 420px) {
	.header-nav-list li {
		margin: 0 0 0 1em;
	}

	.page-wrap,.page-intro {
		padding: 0 3em;
	}

	.narrow-page{
		padding: 0 1em;
	}

	footer {
		font-size: .75em;
	}
}